In [1]:
import pandas as pd
import numpy as np

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

series = pd.Series(lst)
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

In [3]:
third_value = series[2]
print(third_value)

74.4

In [4]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

df = pd.DataFrame(b)
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

column_names = ['A', 'B', 'C', 'D', 'E']

df = pd.DataFrame(b, columns=column_names)
print(df)

      A     B     C     D     E
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

In [6]:
subset_df = df[['A', 'C', 'E']]
print(subset_df)

      A     C     E
0  53.1  67.5  78.4
1  61.3  30.8  87.6
2  20.6  44.2  91.8
3  57.4  96.1  69.5
4  83.6  85.4  35.9
5  49.0   0.1  89.1
6  23.3  95.0  26.9
7  27.6  53.8  68.5
8  96.6  53.4  50.1
9  73.7  43.2  34.7

In [7]:
average_score3 = df['C'].mean()
print(average_score3)

56.95000000000001

In [8]:
max_score4 = df['D'].max()
print(max_score4)

88.8

In [9]:
median_score2 = df['B'].median()
print(median_score2)

40.75

In [10]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

df_orders = pd.DataFrame(orders)
print(df_orders)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

In [11]:
total_quantity = df_orders['Quantity'].sum()
total_revenue = df_orders['Revenue'].sum()

print("Total Quantity Ordered:", total_quantity)
print("Total Revenue Generated:", total_revenue)

Total Quantity Ordered: 2978
Total Revenue Generated: 637.0

In [12]:
max_price = df_orders['UnitPrice'].max()
min_price = df_orders['UnitPrice'].min()
price_difference = max_price - min_price

print("Most Expensive Item Price:", max_price)
print("Least Expensive Item Price:", min_price)
print("Price Difference:", price_difference)

Most Expensive Item Price: 11.95
Least Expensive Item Price: 0.18
Price Difference: 11.77

In [1]:
admissions = pd.read_csv('../Admission_Predict.csv')
print(admissions.head())

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
admissions = pd.read_csv('../Admission_Predict.csv')
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

In [4]:
missing_data = admissions.isnull().sum()
print(missing_data)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [ ]:
admissions.set_index('Serial No.', drop=False, inplace=True)
print(admissions.head())

unique_combinations = admissions.duplicated(subset=['GRE Score', 'CGPA']).sum()
if unique_combinations == 0:
    print("\nLa combinación de GRE Score y CGPA identifica de manera única cada fila.")
else:
    print("\nHay filas duplicadas en la combinación de GRE Score y CGPA.")