In [6]:
#1:Words

words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

In [7]:
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

In [8]:
long_words = []  
for word in words:
    if len(word) >= 5:
        long_words.append(word)

print(long_words)

['filling', 'theatre', 'easygoing', 'story', 'island']

In [9]:
for word in words:
    if word.startswith('t'):
        print(word)
        break

theatre

In [10]:
#2:Numbers 

squares = []
for i in range(1, 11):
    squares.append(i ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
odd_squares = [i ** 2 for i in range(1, 11) if i % 2 != 0]
print(odd_squares)

[1, 9, 25, 49, 81]

In [12]:
squares_of_8 = []
for i in range(8, 1000, 8):
    squares_of_8.append(i ** 2)

print(squares_of_8)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

In [13]:
#3:People 

people = [
    {"name": "Juan", "age": 34, "n_kids": 2},
    {"name": "Pepe", "age": 27, "n_kids": 0},
    {"name": "Sonia", "age": 41, "n_kids": 1},
    {"name": "Lucía", "age": 22, "n_kids": 2},
    {"name": "Leo", "age": 55, "n_kids": 5}
]

print(len(people))

5

In [15]:
people = [
    {"name": "Juan", "age": 34, "n_kids": 2},
    {"name": "Pepe", "age": 27, "n_kids": 0},
    {"name": "Sonia", "age": 41, "n_kids": 1},
    {"name": "Lucía", "age": 22, "n_kids": 2},
    {"name": "Leo", "age": 55, "n_kids": 5}
]

count_with_kids = 0
for person in people:
    if person["n_kids"] > 0:
        count_with_kids += 1
print(count_with_kids)

4