In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A': ['a'+str(x) for x in range(3)],
                    'B': ['b'+str(x) for x in range(3)],
                    'C': ['c'+str(x) for x in range(3)]},
                     index=[0, 1, 2])

df2 = pd.DataFrame({'A': ['a'+str(x) for x in range(3, 6)],
                    'B': ['b'+str(x) for x in range(3, 6)],
                    'C': ['c'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5]) 

df3 = pd.DataFrame({'D': ['d'+str(x) for x in range(3)],
                    'E': ['e'+str(x) for x in range(3)],
                    'F': ['f'+str(x) for x in range(3)]},
                     index=[0, 1, 2]) 

df4 = pd.DataFrame({'D': ['d'+str(x) for x in range(3, 6)],
                    'E': ['e'+str(x) for x in range(3, 6)],
                    'F': ['f'+str(x) for x in range(3, 6)]},
                     index=[3, 4, 5])

In [3]:
concat_df1_df2 = pd.concat([df1, df2])
print("Concatenación de df1 y df2:\n", concat_df1_df2, "\n")

concat_df3_df4 = pd.concat([df3, df4])
print("Concatenación de df3 y df4:\n", concat_df3_df4)

Concatenación de df1 y df2:
     A   B   C
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5

Concatenación de df3 y df4:
     D   E   F
0  d0  e0  f0
1  d1  e1  f1
2  d2  e2  f2
3  d3  e3  f3
4  d4  e4  f4
5  d5  e5  f5

In [4]:
concat_all = pd.concat([df1, df2, df3, df4], sort=False)
print("Concatenación de df1, df2, df3 y df4:\n", concat_all)

Concatenación de df1, df2, df3 y df4:
      A    B    C    D    E    F
0   a0   b0   c0  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN
2   a2   b2   c2  NaN  NaN  NaN
3   a3   b3   c3  NaN  NaN  NaN
4   a4   b4   c4  NaN  NaN  NaN
5   a5   b5   c5  NaN  NaN  NaN
0  NaN  NaN  NaN   d0   e0   f0
1  NaN  NaN  NaN   d1   e1   f1
2  NaN  NaN  NaN   d2   e2   f2
3  NaN  NaN  NaN   d3   e3   f3
4  NaN  NaN  NaN   d4   e4   f4
5  NaN  NaN  NaN   d5   e5   f5

In [5]:
concat_all_ignore = pd.concat([df1, df2, df3, df4], ignore_index=True, sort=False)
print("Concatenación con ignore_index=True:\n", concat_all_ignore)

Concatenación con ignore_index=True:
       A    B    C    D    E    F
0    a0   b0   c0  NaN  NaN  NaN
1    a1   b1   c1  NaN  NaN  NaN
2    a2   b2   c2  NaN  NaN  NaN
3    a3   b3   c3  NaN  NaN  NaN
4    a4   b4   c4  NaN  NaN  NaN
5    a5   b5   c5  NaN  NaN  NaN
6   NaN  NaN  NaN   d0   e0   f0
7   NaN  NaN  NaN   d1   e1   f1
8   NaN  NaN  NaN   d2   e2   f2
9   NaN  NaN  NaN   d3   e3   f3
10  NaN  NaN  NaN   d4   e4   f4
11  NaN  NaN  NaN   d5   e5   f5